# Sistema operativo
.DS_Store
Thumbs.db
desktop.ini

# Visual Studio Code
.vscode/

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Dependencias
node_modules/

# Variables de entorno
.env
.env.*
!.env.example